.statistics {
  /* box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3); */
  margin: 0 auto;
  width: 350px;
  text-align: center;
  background-color: lightgoldenrodyellow;
  margin-top: 20px;
}
.list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  height: 60px;
}
.item {
  width: 70px;
  border: solid 1px teal;
}
.title {
  font-size: 30px;
}
.label{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-evenly;
}
